{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "linebreak-style": "off",
    "global-require": "off",
    "semi": "warn",
    "arrow-body-style": "off",
    "react/prop-types": 0,
    "max-len": [
      "error",
      {
        "code": 200
      }
    ],
    "class-methods-use-this": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-no-bind": 0,
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "react/no-multi-comp": 0
  }
}
