.ant-layout-header {
  display: flex;
  justify-content: space-between;
  //flex-direction: column;
  .logo {
    color: white;
  }
}

.default-top-layout {
  padding: 50px;
}
.login-form {
  margin: 0 auto;
  max-width: 550px;

}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}


.right-menus {
  display: flex;
  li {
    padding: 0 10px;
  }
}
.create-wallet {
  display:flex;
  button {
    justify-content:center;
  };
}

.list-wallet {
  display: flex;
  justify-content: space-between;
}